header {
    background-color: #0F1411;
    color: white;
    height: 80px;
    margin: -8px;
  }
  
  
  .navbar-brand {
    font-size: 20px;
    font-weight: bold;
  }

  .navbar-nav .nav-link:hover {
    color: white;
    background-color: #eeeeee;
  }

  .nav-link{
    color:white;
    text-decoration: none;
  }
  li {
    display: inline-block;
    padding-right: 30px ;
  }
  ul {
    list-style: none;
    float: left;
  }
  #img-logo{
    float: left;
    width: 20%;
    height: 20%;
  }