header {
    background-color: #0F1411;
    color: white;
    height: 5%;
    margin: -8px;
}
#img-logo{
    height: auto;
    width: 50%;
}


.nav-link{
    color:white;
    text-decoration: none;
}

.grid-element {
    padding: 20px;
    object-fit: contain;
    font-size: 30px;
    text-align: center;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}